<div class="container-fluid">
  <h2>wishlisted .... </h2>
  <div class="container-fluid d-flex flex-wrap my-2">
    <div class="card col-sm-12 col-md-4 col-lg-3" style="width: 18rem;" *ngFor="let music of arrayOfMusic">
      
      <div class="card-body">
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Music Name : {{music.trackName}}</li>
              <li class="list-group-item">Artist: {{music.comment}}</li>
            </ul>
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple124/v4/e2/27/59/e2275947-60b7-2163-bde1-6d930ec91b90/AppIcon-0-1x_U007emarketing-0-0-85-220-10.png/246x0w.jpg" alt="music image"  width="40">
          
      </div>
      

      <div class="card-body">
         <button class="btn btn-outline-primary mx-2" (click)="deleteMusic(music)">Delete</button> 
      </div>
    </div>
  </div>
</div>
  
